ul{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    text-shadow:7px 7px 7px ;
    text-indent: 1%;
    height: 86.5vh;
    width: 150px;
    line-height: 80px;
    background-color: lightcoral;
    text-align: center;
    position: fixed;

}
a{
    color: black;
    font-style:oblique
}